//colors

$color-primary: #2196F3;
$color-primary-light: #65c6fa;
$color-primary-dark: #03a8f4;

$color-grey-light-1: #f7f7f7;

$color-grey-dark: #777;
$color-white: #fff;
$color-black: #000;

//Font

$default-font-size: 1.6rem;

//Grid
$grid-width: 114rem;
$gutter-vertical: 8rem;
$gutter-horizontal: 6rem;
